---
search: false
---

@charset "utf-8";

// site colors
$background-color: #1a1a1b;
$text-color: #ffffff;
$primary-color: #ee5e0b;
$border-color: mix(#fff, $background-color, 20%);
$code-background-color: mix(#000, $background-color, 15%);
$code-background-color-dark: mix(#000, $background-color, 20%);
$form-background-color: mix(#000, $background-color, 15%);
$footer-background-color: mix(#000, $background-color, 30%);
$link-color: mix($primary-color, $text-color, 80%);
$link-color-hover: mix(#fff, $link-color, 25%);
$link-color-visited: mix(#000, $link-color, 25%);
$masthead-link-color: $text-color;
$masthead-link-color-hover: mix(#000, $text-color, 20%);
$navicon-link-color-hover: mix(#000, $background-color, 30%);

// codeblock colors
$base00: #27292b; // background
$base01: #2e3c43;
$base02: #314549;
$base03: #546e7a;
$base04: #b2ccd6;
$base05: #eeffff;
$base06: #eeffff;
$base07: #ffffff;
$base08: #f07178;
$base09: #f78c6c;
$base0a: #82aaff;
$base0b: #c3e88d;
$base0c: #89ddff;
$base0d: #82aaff;
$base0e: #f76b1a;
$base0f: #ff5370;

$type-size-6: 0.95em; // codeblock text

$x-large: 1680px;
$max-width: $x-large; // max text screen width

// header scales
$h-size-1: 1.8em;
$h-size-2: 1.5em;
$h-size-3: 1.25em;
$h-size-4: 1em;
$h-size-5: 1em;
$h-size-6: 1em;

@import "minimal-mistakes/skins/{{ site.minimal_mistakes_skin | default: 'default' }}";
@import "minimal-mistakes";

html {
    font-size: 12px;

    @include breakpoint($medium) {
      font-size: 14px; // change to whatever
    }
  
    @include breakpoint($large) {
      font-size: 16px; // change to whatever
    }
  
    @include breakpoint($x-large) {
      font-size: 18px; // change to whatever
    }
  }
